services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "2016"
      RAM_SIZE: "16G"
      CPU_CORES: "6"
      DISK_SIZE: "200G"
      USERNAME: "masR"
      PASSWORD: "admin1"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./windows:/storage
    restart: always
    stop_grace_period: 2m
